-----BEGIN CERTIFICATE-----
MIIFKTCCBBGgAwIBAgIHK4HqiUrO+zANBgkqhkiG9w0BAQsFADCBtDELMAkGA1UE
BhMCVVMxEDAOBgNVBAgTB0FyaXpvbmExEzARBgNVBAcTClNjb3R0c2RhbGUxGjAY
BgNVBAoTEUdvRGFkZHkuY29tLCBJbmMuMS0wKwYDVQQLEyRodHRwOi8vY2VydHMu
Z29kYWRkeS5jb20vcmVwb3NpdG9yeS8xMzAxBgNVBAMTKkdvIERhZGR5IFNlY3Vy
ZSBDZXJ0aWZpY2F0ZSBBdXRob3JpdHkgLSBHMjAeFw0xNDA0MjEwNjExMjNaFw0x
ODA5MDgxNjA1MjFaMD0xITAfBgNVBAsTGERvbWFpbiBDb250cm9sIFZhbGlkYXRl
ZDEYMBYGA1UEAwwPKi5kYXZlbnBvcnQuZWR1MIIBIjANBgkqhkiG9w0BAQEFAAOC
AQ8AMIIBCgKCAQEA6s2Wfl0Hb32oh+3JaJFMLN7ywkaz4iEo5OYFMRGVOPgOn/Fk
zHRxY91EbHKsik7slOnA19HniZh2j/H0xPJ8RhmKjdqIXIyIcG3ivztydoBRpmwy
Ilxv0eiPAnGiH2HuKdNi1HjndsF8GO7iPkeLhesbFn75TqyodzGO1Ku2p+ys82sd
Oer9EeHKGo/ambHHjOFuxStQKNo5Uiz8BALFt0bF1HffFsmGcUMd63/gjwpUeW4b
fQrIp2zpUGgIbOgvvN6E2wHzx0nSvAGVs+7KWnbt6q9yM+gy7Hgvzlgz5bkmGeB7
Wuxkj1x+los8vc8v2ivpmoI0lRPSGp9I8jJkmQIDAQABo4IBtDCCAbAwDwYDVR0T
AQH/BAUwAwEBADAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwDgYDVR0P
AQH/BAQDAgWgMDYGA1UdHwQvMC0wK6ApoCeGJWh0dHA6Ly9jcmwuZ29kYWRkeS5j
b20vZ2RpZzJzMS00NS5jcmwwUwYDVR0gBEwwSjBIBgtghkgBhv1tAQcXATA5MDcG
CCsGAQUFBwIBFitodHRwOi8vY2VydGlmaWNhdGVzLmdvZGFkZHkuY29tL3JlcG9z
aXRvcnkvMHYGCCsGAQUFBwEBBGowaDAkBggrBgEFBQcwAYYYaHR0cDovL29jc3Au
Z29kYWRkeS5jb20vMEAGCCsGAQUFBzAChjRodHRwOi8vY2VydGlmaWNhdGVzLmdv
ZGFkZHkuY29tL3JlcG9zaXRvcnkvZ2RpZzIuY3J0MB8GA1UdIwQYMBaAFEDCvSeO
zDSDMKIz1/tss/C0LIDOMCkGA1UdEQQiMCCCDyouZGF2ZW5wb3J0LmVkdYINZGF2
ZW5wb3J0LmVkdTAdBgNVHQ4EFgQUGbvSNOQ2FFo1zpOhGih3Tt/dSPYwDQYJKoZI
hvcNAQELBQADggEBAKtqE+1YAUj+WjF9IzJJYyPPow+Da5kf4dW9KFS/2S5jTpzn
BI07LVbV9gqtpO5uBur+qjfRMUf6Ne/mar7oECptSN1k8gAJvSG7PwLvXNPlYQ40
dhJXAbf5YHR1jlXSIY7silfZapXxcm5Fa5rm4YsF8MXTyfH63soqnHgQQhPD/qmH
6B/XXlSiXilkDcNdieqDCJxvJDefkuBsHtz2hAHC/g0DXA6BAxos7KC7f95C8AQV
CVG23FAhr4ynOXIUkHC5Ei5VhdAmuJkbhjTmxPm+QPrgv52dXroxoWRVnL2A7Jbz
4ry3DkuwnDHdGqWy8JbWP4+VEeuIlxemNHw6reo=
-----END CERTIFICATE-----
